[Unit]
Description=TU1NZ legacy bot repository synchronization every 30 minutes

[Timer]
OnBootSec=5min
OnUnitInactiveSec=30min
AccuracySec=30s
RandomizedDelaySec=30s
Unit=tu1nz-legacy-git-sync.service

[Install]
WantedBy=timers.target
